body, html {
    margin: 0;
    width: 100%;
    display: flex;
    background-color: rgb(35, 41, 48);
}
#terminal {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-grow: 1;
    margin: 0;
    padding: 10px;
}
#terminal_output {
    flex-direction: column;
}
#terminal_input_line {
    display: flex;
    flex-direction: row;
    flex-flow: row;
    flex-grow: 1;
}
#terminal_input {
    outline: none;
    border: none;
    flex-shrink: 1;
    flex-grow: 2;
    width: 98%;
    flex-direction: row;
}
#terminal_input:focus {
    outline: none;
}
#terminal_prompt {
    flex-grow: 1;
    width: 2%;
    flex-direction: row;
}
.terminal {
    font-family: monospace;
    font-size: 11pt;
    color: white;
    white-space: pre;
    word-wrap: break-word;
    display: flex;
    background-color: rgb(35, 41, 48);
}